[2015-04-21 13:20] econchick opened #2 "Parse <<parameters>> in resources"
Within RAML, one is able to declare parameters within resource types and traits [docs](http://raml.org/spec.html#parameters).  It would be nice when accessing the actual resource object defined with a resource type/trait containing a parameter, to have the parameter values substitute the `<<parameter>>`.

Currently, it's setup as follows:

[code]

[code]

And ideally, it'd look like this:

[code]

[2015-04-21 13:34] econchick opened #3 "Add ability to "pluralize" and "singularize" parameters in resourceTypes and traits"
This sort of depends on #2 - the RAML [spec](http://raml.org/spec.html#parameters) allows the transformation functions "pluralize" and "singularize".  This should behave similarly with #2 where the actual resource that inherits a parameterized type/trait overwrites the `<<parameterFoo>>` as well as takes care of the transform functions, like `<<parameterFoo | !pluralize>>` turns into `someFoos` (r

[2015-04-21 13:53] econchick opened #4 "Parse `$ref`s in JSON"
One can construct JSON pointers using `$ref`s, e.g.

[code]

Right now the package doesn't resolve those `$ref`s, and will actually probably need a separate library (maybe [jsonref](https://pypi.python.org/pypi/jsonref)).

[2015-04-21 13:55] econchick opened #5 "Construct RAML via Python objects then `dump`/`dumps` them to file/string output"
I'd like this package to behave like `pyyaml.dump[s]` or `json.dump[s]` to construct a valid RAML string or file from a Python object.

[2015-05-26 12:04] jenner opened #12 "'application/json' hard-coded as response body type"
The [resp_body](https://github.com/spotify/ramlfications/blob/master/ramlfications/parser.py#L927-L948 function) returns only bodies of type 'application/json', however the RAML spec state that you may have more then one media type in a response specifications (e.g. epending on your request's Accept header)

[2015-05-26 20:11] econchick opened #14 "Top-level schemas are not resolved when assigned to resources"
For example:

[code]

The last line, when parsed, isn't actually resolved to the defined schema:

[code]

It should behave like `endpoint.resource_type` were you can actually access the schema.

[2015-05-26 20:18] econchick opened #15 "Return json & lxml schema objects rather than Python objects"
Using [jsonschema](https://pypi.python.org/pypi/jsonschema) and [lxml](http://lxml.de/) would give the ability to validate the schemas and examples used, as well as allow the user to do as they wish with the returned object (e.g. parse the returned object with `xmltodict`, `pyxb`, or some other library).

(cc @jenner)

[2015-06-01 20:22] jenner commented on #12
Fixed in 740647ed

[2015-06-01 20:22] #12 closed

[2015-06-01 20:30] jenner commented on #4
jsonschema has a [resolver](http://python-jsonschema.readthedocs.org/en/latest/references/) class which can be used to resolve refs relative to schema, i.e. something like { "$ref": "#/definitions/$Thingy/.." } would resolve to an included Thingy schema items

[2015-06-01 20:35] econchick commented on #4
@jenner yesssss thanks for the tip!

[2015-06-02 15:29] benhamill commented on #4
Would you accept a pull request adding this functionality?

[2015-06-02 16:21] econchick commented on #4
@benhamill definitely

[2015-06-02 19:45] jenner commented on #4
@benhamill thanks in advance :)

[2015-06-12 18:35] jenner commented on #15
Now that #19 is almost there, I could try to implement this one... objections?

[2015-06-12 18:37] econchick commented on #15
huge :+1:

[2015-06-12 19:03] econchick commented on #15
Noting for myself and anyone who is interested - per @jenner, `lxml` doesn't resolve relative paths when trying to include other files. Something to keep in mind.

[2015-06-13 20:13] vrajmohan opened #20 "Base URI parameters need not have defaults."
When I have a parameter entry under baseUriParameters and it does not have a default, ``ramlfications validate`` complains with:
Error validating file foo.raml: The 'default' parameter is not set for base URI parameter 'bar'.

AFAIK, from the RAML spec, a baseURIParameter need not have a default.

[2015-06-13 20:29] econchick commented on #20
Hi there!

The RAML spec does in fact require defaults for base URI params. If you look under the section "base URI and base URI parameters" for [the spec](http://raml.org/spec.html) it says:

If it's causing you trouble while a RAML file is under development/might change, you can set `validate=False` in your config file like [here](https://github.com/spotify/ramlfications/blob/master/tests/data/e

[2015-06-13 20:55] vrajmohan commented on #20
Pardon me, but I read the very same section and interpreted it to mean that IF (and only IF) a URI template variable in the base URI is not explicitly described in a baseUriParameters property, and is not specified in a resource-level baseUriParameters property, THEN it MUST still be treated as a base URI parameter with defaults as specified in the Named Parameters section of this specification.
T

[2015-06-13 21:25] econchick commented on #20
OK so you're correct in that I incorrect interpreted that section (was quickly reading on mobile).

I'm looking at other parsers right now to see how it's handled.  But I think you are correct that default isn't required for baseUriParams - thanks for letting me know.

[2015-07-02 19:30] benhamill opened #21 "Validation Checking of RAML?"
We've been liking using ramlfications a lot, so far, on my team at UA. One thing we're realizing we want as we spec more of our public API is an automated check that the RAML we're writing is valid (not whether the endpoint we're specifying fulfills the spec).

My first thought was to use ramlfications to read in the spec and then write a validator on top of it. But the more I messed with that, th

[2015-07-02 19:51] econchick commented on #21
Hey @benhamill!

Yes ramlfications does some validation (it's not 100% to the raml spec). You can turn it off globally in the config file (I'm on mobile but there's an example in the tests).

But I have actually been thinking about the printing of *all* validation errors at once, like linters do. I think it's much more useful to a dev and it's good to hear someone else thinking about it.

Do you t

[2015-07-02 20:17] benhamill commented on #21
I'd say we are very unlikely to want to build our spec in Python and dump it. We may be dealing with specs that come out of other tools and will probably be hand-writing them, as well. So our interest is in making sure the hand-written stuff is valid.

I was thinking that, after reading in the spec with the YAML library, during the pass that makes more... intelligent business objects out of that r

[2015-07-02 20:25] econchick commented on #21
Let me think on this for a day. This makes sense to me but just want to put some thought on it.

So the current validate functionality (`ramlfications.validate(path)`) doesn't work well for you in your work flow? I mean I can see how it wouldn't in what you proposed. (Hmm seems like I'm talking thru my thoughts right now :) )

Thanks!

[2015-07-02 20:30] benhamill commented on #21
Whaaaaaaaaat. I didn't even know that was a thing! Witness my superior investigative skills! Haha. I'll check it out and report back.

[2015-07-02 20:51] benhamill commented on #21
So, yeah. This looks...aaaaaaalmost like what I'd want. But it relies on exceptions? Or is that just how you happen to be using the validation stuff from attrs? Could it do something different when it sees something fishy? Also, there's some state tracking: In particular, with not default media type defined at the root of a spec, each `body` for a response needs to have that as a key. Right now, r

[2015-07-06 15:57] benhamill commented on #21
Ping. Later today, a co-worker and I will likely start looking at what and implementation of our dream validation situation would look like. If you have time to give some thoughts in that time frame, I'd love to hear them. If not, no worries and probably we'll have some real code to discuss soonish.

Also, we may make integrating [jsonschema](https://pypi.python.org/pypi/jsonschema) part of that,

[2015-07-07 19:36] econchick commented on #21
Hey Ben - sorry I have been on vacation (still am).

I'd love to hear your dream validation setup; I'd be willing to integrate it in if it seems reasonable. I'd prefer to have a practical validation and if that means breaking backwards compatibility, that'd be fine. So I'd be very interested in knowing what works for you at UA.

Re jsonschema - I am actually thinking of integrating that (or anothe

[2015-07-08 19:08] benhamill commented on #21
Some other stuff popped up (at work?!? _What?!?_), so strike my "soonish". We'll check back in when we get here. Probably #19 will get fixed up first (it's got bugs blocking some other stuff we're trying to do).

[2015-07-17 19:20] cerivera commented on #21
I don't think the validation needs to be more complex than:

    errors = ramlfications.validate(path)
    errors # => List of dictionaries

    ----

    config = ramlfications.setup_config()
    config['validate'] = True
    r = ramlfications.parse(path, config) # Raises validation exception or sets r.errors

Thoughts?

[2015-07-17 19:24] econchick commented on #21
@cerivera yeah I agree - the only thing that needs to be implemented is to collect the errors.

[2015-07-17 19:33] cerivera commented on #21
@econchick I'll help with that, and also with bringing more of the RAML spec into your validators.

[2015-07-17 19:33] econchick commented on #21
@cerivera wow that'd be awesome! and very much appreciated, thank you!

[2015-07-17 19:35] cerivera commented on #21
:+1:
And thanks to @benhamill for getting the ball rolling on this.

[2015-07-20 14:50] postatum opened #23 "How to inherit resourceTypes by resource?"
Hi guys.
First of all, thanks a lot for all you work. Enjoying your parser a lot so far.

When working with resourceTypes I've faced an issue: How do I make resource inherit from one of resourceTypes properly in ramlfications?

[Docs section says](https://ramlfications.readthedocs.org/en/latest/extendedusage.html#mapping-of-properties-and-elements-from-traits-resource-types-to-resources) that

I h

[2015-07-21 07:33] pmackay opened #24 "CSS file issue with docs"
On http://ramlfications.readthedocs.org/en/latest/index.html it seems the CSS files are not loading correctly because of:

`The stylesheet https://media.readthedocs.org/css/sphinx_rtd_theme.css was not loaded because its MIME type, "application/octet-stream", is not "text/css".`

`The stylesheet https://media.readthedocs.org/css/readthedocs-doc-embed.css was not loaded because its MIME type, "appl

[2015-07-26 12:25] adamcik opened #26 "Switch yaml.safe_load for loading RAML files."
`yaml.load` can lead to arbitrary code execution when run against untrusted sources. See http://pyyaml.org/wiki/PyYAMLDocumentation#LoadingYAML for details. Fix should be as simple as just replacing the `load` calls with `safe_load`.

[2015-07-27 00:44] AndreasBackx opened #27 "Docs raised errors not updated"
The methods in `/ramlfications/__init__.py` (and perhaps elsewhere) still speak of `InvalidRamlFileError` which doesn't exist (anymore?). I have only picked up ramlfications today, but could it be that this was changed to `ramlfications.errors.InvalidRAMLError` but was forgotton about in the docs?

Since we're on the topic of errors. The documentation also mentions`ramlfications.raml.RAMLParserErr

[2015-07-27 23:57] econchick commented on #26
YES thank you - I totally agree and I don't know why this wasn't the case to begin with. Thank you!

[2015-07-27 23:58] econchick commented on #27
Ah thanks for letting me know about this - I'll look into this a bit more; docs do tend to lag behind the code, which is definitely something I don't want.

[2015-07-27 23:58] econchick commented on #24
Interesting - thanks for letting me know; will look into this!

[2015-07-28 00:09] econchick commented on #23
Hey @postatum - so sorry for the delay; was traveling a lot.  (also, slight nitpick: <strike>guys</strike>, there's only one main dev here, and I'm a woman :smiley: )

I think you've stumbled on a bug; I agree that `resource.description` should inherit the `get` description defined above.  Thanks so much for bringing it to my attention!

[2015-07-28 08:39] postatum commented on #23
Hi @econchick. Thanks for answering.

Sorry, didn't mean to offend you :) English isn't my mother tongue and for some reason I thought "guys" refers to group of any people, not just men.

resource.description was just an example. The more important issue (or maybe it works like this on purpose) is that if resourceType defines methods "a, b, c" and resource uses that resource type, it feels like th

[2015-07-30 23:28] econchick commented on #24
Hey @pmackay - do you get the same error if you use `https` instead of `http`?

I've tried in Chrome, Firefox, and Safari, and I can't seem to get the same error messages you're getting.  I've tried both `http` and `https`.  With just `http`, I do get an error only in Safari that says `https://media.readthedocs.org/css/theme.css.map` is not found (totally different file), while in Mozilla I get an

[2015-07-30 23:29] #24 closed

[2015-07-30 23:44] #27 closed

[2015-07-31 00:50] econchick commented on #20
Addressed in #29 - thanks!

[2015-07-31 00:50] #20 closed

[2015-07-31 01:07] econchick commented on #23
I've been rereading the [raml spec](http://raml.org/spec.html) - If a resource type has three methods, and a resource inherits it like the following:

[code]

I would expect it to inherit both `get` and `post` and both of their descriptions.  However, if it was like this:

[code]

I would expect `/foobar` to *only* inherit `get` and its description (notice the `?` in the methods of the resourceTyp

[2015-07-31 06:38] pmackay commented on #24
Its now working fine for me too, so something else must have got fixed :)

[2015-07-31 17:48] econchick opened #30 "Error gracefully for empty mappings"
`parser.py` fails when the RAML file has an empty mapping, e.g.:

[code]

the following traceback occurs:

[code]

This is ugly and shouldn't happen :)

[2015-08-02 23:22] econchick commented on #4
Being worked on via #19

[2015-08-03 22:34] econchick commented on #26
Addressed in #35 - will be in release 0.1.6

[2015-08-03 22:34] #26 closed

[2015-08-03 22:35] econchick commented on #30
Addressed in #34 - will be included in release 0.1.6

[2015-08-03 22:35] #30 closed

[2015-08-03 23:29] econchick opened #37 "Preserve order of URI parameters"
Currently, `resource.uri_params` is not in the order that is defined in the URI path. It looks like right now, it is just in reverse order.

[2015-08-20 20:43] econchick commented on #4
addressed in #40

[2015-08-20 20:43] #4 closed

[2015-08-20 20:44] econchick commented on #21
Closing this because we're all awesome!

[2015-08-20 20:44] #21 closed

[2015-08-22 00:43] econchick opened #43 "Support optional properties in resource types (not just methods) & traits"
Currently, `ramlfications` only supports an optional `method` parameter within `ResourceType`s (e.g. `get?`, `post?`, yet the RAML spec [allows](http://raml.org/spec.html#optional-properties) support for all non-scalar properties within a resource type **and** a trait.

For example:

[code]

Here the `headers` under `gizmoType` are denoted as optional (with the `?`) but does not actually get carri

[2015-09-01 15:28] vlcinsky commented on #14
I hit the same problem, instead of getting the schema I got name of it.

I was thinking, if that was by design or not. The documentation: <https://ramlfications.readthedocs.org/en/latest/api.html#ramlfications.ramlfications.parameters.Body> does not expect a name of the schema to be expected result.

To me it really seems more practical to get the schema resolved (as described in the original PR).

[2015-09-01 16:17] econchick commented on #14
Thanks @vlcinsky - I am working on a couple of patches related to this and #23 - good to know there are some users of the library that want this functionality :D I agree that resolving the schema is ideal.

[2015-09-01 17:17] vlcinsky commented on #14
@econchick Sounds very promising. I am really found of RAML (after longer fight with Swagger I have to appreciate, RAML serves much better my testing needs and has much better core concepts). Coding most of my stuff in Python I found ramlfications of great value. Thanks you for that.

[2015-09-04 12:58] xaratt opened #44 "Optional properties of resource types applies to differently named properties of resources"
I'm sorry if it's duplicate of [43](https://github.com/spotify/ramlfications/issues/43).

Currently if resource type contains a method and resource with this resource type has another method name, resource will contains not only "own" parameters (e.g. queryParameters), but parameters from this resource type (e.g. formParameters) too.

Part of raml-file ([full](https://gist.github.com/xaratt/0393b3

[2015-09-04 13:38] econchick commented on #44
Hey thank you! The first one is definitely a bug - certainly related to #43. Traits might also behave the same (improper) way. I am in the middle of working on a patch that will fix this, so expect it in the next release (about a week - would be sooner if there wasn't a long weekend in the U.S. :)). I'll update this issue when it is released.

Re: the second issue - I see in the full RAML file tha

[2015-09-04 14:00] xaratt commented on #44
Thanks for the quick response!

After removing "protocols" from the put method I got results:
[code]
and after removing protocols from the root-level of raml I got the same result.

[2015-09-04 14:01] econchick commented on #44
@xaratt ah great - so that seems okay then, right?

[2015-09-04 14:58] econchick commented on #44
Ah I misread the first one - I read HTTP instead of HTTPS in the absolute uri.

So yes you're right - I agree that it's the desired behavior and yet another bug :) thanks!

[2015-09-12 18:04] econchick commented on #44
@xaratt - I just merged a PR ([#46](https://github.com/spotify/ramlfications/pull/46)) that (hopefully) addresses your first concern.  It'll be included in the next release on PyPI which may be in a week or so (want to fix some more bugs, including the other one you reported), but if you'd like to confirm that it works for you, I'd really appreciate it.

Thanks!

[2015-09-12 18:27] econchick opened #47 "Resource Type inheritance of other resource types do not properly work"
When a resource type inherits from another resource type, the "child" resource type does not correctly overwrite the inherited properties.

Current behavior:

[code]

When parsed:
[code]

I would expect `r.query_params ` to actually have two `QueryParameter` objects.

[2015-09-12 19:51] econchick commented on #44
@xaratt  OK hopefully the protocols issue is successfully addressed - I just merged in a fix.  Let me know if it does/doesn't work for you.

[2015-09-12 19:51] #44 closed

[2015-09-15 03:45] econchick opened #49 "Tree prints out multiple of the same endpoint when verbose = 0"
An example RAML file:

[code]

When running `tree` on the RAML file, it would print out like so:

[code]
I it to just be condensed to just one `/foo`.

With increased verbosity, it's a bit more understandable:

[code]

Still isn't too pretty; maybe it should be more like:

[code]

[2015-09-15 03:54] econchick opened #50 "with `tree`, nested resources still contain parent path as opposed to the shell `tree` command"
For instance, `ramlfications tree` command prints out like so:

[code]

Yet if we do `tree` within a shell in a directory:

[code]

I think perhaps the idea tree printout should be something like:

[code]

[2015-09-15 04:42] econchick opened #51 "Errors aren't collected for multiple items being validated"
For instance, if I had a RAML file in which it defined three protocols, two of which are invalid (aka not HTTP or HTTPS):

[code]

Then running `ramlfications validate api.raml` on it, I see:

[code]

I would expect the following:

[code]

I haven't checked but I assume that this probably doesn't work for other items that are lists, like `is:` for traits.

@cerivera - perhaps you have some thought

[2015-09-28 21:51] lelit opened #53 "validation raises a TypeError under Python 3"
Line 199 of validate.py is not compatible with Python 3:

[code]

Python 3.4 raises the same error.

[2015-09-28 23:13] econchick commented on #53
Thanks @lelit - are you able to share your RAML file by chance?

[2015-09-28 23:21] lelit commented on #53
Sure, here a minimal RAML that exhibits the problem (inline, as GH did not allow me to attach it... let me know if that's a problem):

[code]

[2015-09-30 19:41] econchick opened #54 "Support RAML v1.0"
Since RAML v1.0 [is coming](https://github.com/raml-org/raml-spec/milestones/v1.0) with the goal of at the [end of October](https://github.com/raml-org/raml-spec/milestones), this issue will be a collection of all changes (that may or may not need to be addressed in `ramlfications`) - to be updated in the comments.

No guarantee that `ramlfications` will be updated by when the new spec comes out,

[2015-10-05 23:17] matiasb opened #56 "URI parameters missing if not listed in uriParameters property"
According to spec [1], URI parameters are defined by parametrizing the path and the use of uriParameters property is optional. However, ramlfications won't list a URI parameter unless it is listed in the uriParameters property:

[code]

but

[code]

[1] http://raml.org/spec.html#uri-parameters

[2015-10-07 20:39] econchick commented on #56
Ah thank you for reporting - I'll take a look into this. I do agree that actually defining uriParameters is optional.

[2015-10-08 20:04] econchick commented on #53
Should be better now :) will include this in the v0.1.9 release (not for another week or two) but it's in master. Thanks so much!

[2015-10-08 20:04] #53 closed

[2015-10-13 15:44] freddrake opened #60 "RAML version supported by ramlfications?"
I don't see where the RAML version supported is mentioned in the documentation.  I can only guess that RAML 0.8 is supported.

The supported version should be documented.

Is there a roadmap for supporting RAML 1.0 once the spec is finalized and available?

[2015-10-13 16:17] econchick commented on #60
Hi @freddrake - you're right that 0.8 is only supported for now, and that it should be documented appropriately. Thanks for bringing that to my attention.

Re: 1.0: I have an [issue](https://github.com/spotify/ramlfications/issues/54) already filled to just let people know that it is being worked on, and  RAML 1.0 support will be in the ramlfications' [2.0 release](https://github.com/spotify/ramlf

[2015-10-13 16:28] freddrake commented on #60
Thanks!  Just noticed that issue while sitting in a meeting.

I'll leave this open as a documentation issue.

[2015-10-13 17:21] econchick opened #62 "Coverage isn't being reported by coveralls.io"
For example, [this pull request](https://coveralls.io/builds/3757217) isn't showing any coverage reporting.

[2015-10-16 23:19] econchick commented on #62
I actually think it may have been an update from coverage that broke things, but am too lazy to figure out...

Either way, fixed with #63 and #64 - moved from coveralls to codecov.

[2015-10-16 23:19] #62 closed

[2015-11-02 12:57] postatum commented on #23
Hi again @econchick.

Thanks for working on this issue! We would love to use it :)

I've just tried to use version 0.1.8 and I had troubles with it.

Here is my RAML file https://github.com/postatum/ramses-example/blob/99425204_use_resourcetypes/example.raml. When I look at resources generated from it, here is what I see (formatted to make it easier to see things):

[code]

As you can see, only th

[2015-11-03 09:18] econchick commented on #23
Hey @postatum - thanks for the update!

I'm working on a bit of a rewrite to clean out the spaghetti that the code has become. And I'll definitely write a few test cases for this to fix it.

How high of a priority/issue is this for you folks? I'll adjust my prioritization if necessary (juggling a lot of things at the moment).

[2015-11-03 09:40] econchick commented on #23
A clarification question: w/r/t your example RAML file, would you expect `/stories/{id}` to inherit all 5 methods since its parent is of the `collection` type? What about `/users/{username}/`?

[2015-11-03 10:11] postatum commented on #23
Hi @econchick.

I expect `/stories/{id}` and `/users/{username}` to inherit all methods from `item` resourceType.
I also expect `/stories` and `/users` to inherit all methods from `collection` resourceType.

PS. @jstoiko will answer your question regarding priorities later.

[2015-11-03 13:07] econchick commented on #23
@postatum I just re-read the RAML spec, and if I understand correctly, I think `/stories/{id}` and `/users/{username}` should _not_ inherit resource types.  I'm particularly looking at this line under [Resource Types and Traits](http://raml.org/spec.html#resource-types-and-traits):

Do you think it should be otherwise?

[2015-11-03 13:52] postatum commented on #23
Here is how I understood it:

Since resourceType is similar to resources, users may think they can define nested resources in resourceType and this says - no you can't.

Same as first, but if nested resource is already defined in resourceType, that resource should not be generated.

If resourceType is applied to "/stories" it will not be applied to "/stories/{id}" and other nested resources.

But

[2015-11-03 14:25] econchick commented on #23
Ah sure yea - definitely makes sense. I missed that `item` was applied to the nested resources.

But If it weren't applied, would you agree that the child resource would not inherit its parent's type?

[2015-11-03 14:28] postatum commented on #23
I agree. I think resource should only inherit resourceType if it's directly applied to it.

[2015-11-03 14:34] econchick commented on #23
awesome thank you :)

[2015-11-04 02:34] jstoiko commented on #23
It's not a blocker however our RAML files will look a lot nicer once this is fixed :)

[2015-12-02 13:20] pmackay opened #67 "Should ResourceNodes include methods?"
I've noticed that ResourceNodes include the URI of the resource and the method (GET, POST, etc). Should a ResourceNode just represent the URI and it would have 1 or more associated methods? Most descriptions of resources in REST that I can see suggest a resource is represented by its URI and the methods are operations that can be done to that resource.

I am generating some docs where I want to gr

[2015-12-03 16:55] pmackay commented on #54
There are 7 changes listed [here](http://docs.raml.org/specs/1.0/#raml-10-spec-what-39-s-new-and-different-in-raml-1-0) - would it make sense to create new issues for each one?

[2015-12-03 16:56] econchick commented on #54
@pmackay yes, but I'm actually in the middle of making a roadmap to put on the (currently empty) wiki, of which more detailed issues will come from, if that makes sense.

[2015-12-07 14:41] jenner opened #68 "uriParameters not valid in the root section"
According to https://github.com/raml-org/raml-spec/blob/master/raml-0.8.md#base-uri-and-baseuriparameters the root section may only contain baseUriParameters. Current ramlifications implementation however also allows uriParameters to appear in the root section.

[2015-12-07 15:47] jenner commented on #68
I used this to validate complete-valid-example.raml:

    sudo npm install -g raml-parser
    cat << EOF > check-raml.js
    var raml = require('raml-parser');
    raml.loadFile('complete-valid-example.raml').then(function(data) {
        console.log(data);
    }, function(error) {
        console.log('Error parsing: ' + error);
    });
    EOF
    node check-raml.js

[2015-12-17 20:57] econchick opened #69 "Add support for Data Type"
[Related roadmap page](https://github.com/spotify/ramlfications/wiki/RAML-v1.0:-Data-Types)

* Support for four family types:
    * [ ] [object](http://docs.raml.org/specs/1.0/#raml-10-spec-object-types) including [Map types](http://docs.raml.org/specs/1.0/#raml-10-spec-map-types)
    * [ ] [scalar](http://docs.raml.org/specs/1.0/#raml-10-spec-scalar-types)
        * [ ] [built-in](http://docs.ram

[2015-12-19 20:32] pkucmus commented on #67
:+1:
Resource a thing you want to control with methods like PUT, GET, etc. so for one path there should be one ResourceNode with occasionally more than one method, IMHO.

[2015-12-19 20:42] econchick commented on #67
What about if there are different traits for a method? or security schemes? descriptions? display names? In some form, each method + endpoint will have to be its own object.

[2015-12-19 20:54] pkucmus commented on #67
I didn't knew that methods can be altered that much. But yeah I think it's a good idea to do objects for methods.

[2015-12-19 20:59] econchick commented on #67
Perhaps rather than changing the API, another property could be added to the Root API, something like `api.endpoints` that returns either a list of strings, or a list of (a new kind of) objects. I'll think on this as I start to implement RAML 1.0 spec, and leave this open for any more comments.

[2015-12-19 21:02] pkucmus commented on #67
Alright, that sounds nice! Thank you!

[2015-12-19 21:04] econchick commented on #54
Currently scoping this out in [the wiki](https://github.com/spotify/ramlfications/wiki/RAML-v1.0-Roadmap)!

[2015-12-20 09:46] pmackay commented on #67
I'd like the behavour of `api.resources` to change though, so it only returns a list of the resources or URLs, not a list of URL+Method pairs. Thats a significant behaviour change even if the method name doesnt change.

[2015-12-20 20:40] rebeling commented on #14
What is the status of this issue? It is already deprecated in RAML 1.0 to name it schemas and use types instead. But the issue will be the same: a name instead of an schema object.

Do you use definitions to validate an input or output? And how do you do it? I am using jsonschema for now, but I thought it would be nice feature of ramlfication to validate object against defined schema.

[2015-12-22 19:48] econchick opened #70 "Add support for Annotations"
* Annotation object, as defined by `annotationTypes` in the RAML root, containing properties (all optional):
    * [ ] `display_name`
    * [ ] `description`
    * [ ] `annotation_name`
    * [ ] `allow_multiple`
    * [ ] `allowed_targets`
    * [ ] either `properties`, `facets` or nothing but defaults to `string`
* [ ] List of annotation objects, `annotations`, attacted to `RootNode`
* Annotatio

[2015-12-22 20:10] econchick opened #71 "Add support for Libraries"
[Related roadmap page](https://github.com/spotify/ramlfications/wiki/RAML-v1.0:-Libraries)

* Support for:
    * [ ] parse `uses` in the Root of the API
    * [ ] parse object according to types within library file:
        * [ ] Resource Type
        * [ ] Trait
        * [ ] Data Type
* Potential (not sure if good idea or not):
    * [ ] Create a `LibraryNode` object attached to any object that

[2015-12-22 20:19] econchick commented on #67
@pmackay that is a significant behavior change, something I'd not be willing to introduce in a 0.x release. How would `api.endpoints` not address your concern though?

[2015-12-22 20:32] econchick commented on #68
@jenner sorry for the delayed response.

`ramlfications` has the ability for the developer to turn on/off validation when parsing (undocumented - but should be - although can see a [test example](https://github.com/spotify/ramlfications/blob/master/tests/data/examples/test-config.ini#L2)), as well as [adding certain values to be considered valid](https://ramlfications.readthedocs.org/en/latest/con

[2015-12-22 22:50] #60 closed

[2015-12-23 00:04] econchick commented on #14
@rebeling can you link me to where RAML 1.0 explicitly says schemas are deprecated? I may have just missed it.

My intention with schemas (related: #15) is to indeed have `ramlfications` validate against the defined schema. Same with the newly added Data Types.

I'm putting a lot of work on this library this weekend (see [roadmap](https://github.com/spotify/ramlfications/wiki/RAMLfications-Roadmap

[2015-12-23 00:27] rebeling commented on #14
#15 ok, missed this one - yeah, jsonschema ;)

For *deprecation for schemas* find the terms at http://blog.raml.org/. I am ramlficated already from your project, thanks and stay tuned.

[2015-12-23 08:21] pmackay commented on #67
If `api.endpoints` was a list of just the URL endpoints it would help, but personally I think its a questionable fix because that's really what `api.resources` should return IMHO. So is it digging a slightly deeper hole? But it would help :)

[2015-12-24 03:35] econchick commented on #47
Potential fix with #73

[2015-12-24 22:47] econchick commented on #37
Should be fixed with [this patch](https://github.com/spotify/ramlfications/commit/d14d0fffd6cf67e365618ca64504bf98861d92fb) that I just merged.

[2015-12-24 22:47] #37 closed

[2015-12-24 22:48] #23 closed

[2015-12-25 00:16] econchick commented on #56
Fixed in #75 (hopefully!)

[2015-12-25 00:16] #56 closed

[2015-12-25 01:00] econchick commented on #47
Addressed completely (hopefully) with #76

[2015-12-25 01:00] #47 closed

[2015-12-25 01:37] econchick commented on #68
Definitely confirm some inconsistencies. I'm going to move this to the 0.2.0 release.

[2016-01-04 16:36] jmagnusson opened #79 "securitySchemes > settings shouldn't be required"
I noticed that [this method](https://github.com/spotify/ramlfications/blob/71f7e84bad34a356ad9ccf99b32874f5a60d7aa8/ramlfications/validate.py#L139) seems to require the use of a non-empty settings value. According to the specification this value is not required for all types though, including `BasicSecurityScheme`, `DigestSecurityScheme` and `Pass Through`. I had to create a dummy settings object

[2016-01-27 12:19] tardyp commented on #69
I take this bug, can you assign it to me?

[2016-01-27 17:09] econchick commented on #69
@tardyp done! but I think I shouldn't have needed to add you to the spotify org - I just added you as a collaborator, but let me double check sine github org permissions are not that easy to immediately understand.

[2016-01-27 23:33] econchick commented on #2
This should be all set in the [v0.2.0-dev](https://github.com/spotify/ramlfications/tree/v0.2.0-dev) branch :tada:

[2016-01-27 23:33] #2 closed

[2016-01-27 23:33] econchick commented on #3
This should be all set in the [v0.2.0-dev](https://github.com/spotify/ramlfications/tree/v0.2.0-dev) branch :tada:

[2016-01-27 23:33] #3 closed

[2016-02-06 13:58] bkabrda opened #84 "Rendering RAML as md/html/..."
Hi, I just wanted to ask whether you're planning to add support for rendering RAML to markdown or html or any other markup language to ramlfications - or perhaps if you're planning to create a separate project for that. I would very much like to contribute to such effort (if not, I guess I'll just create it myself :)).

[2016-02-06 17:40] econchick commented on #84
Hey @bkabrda ! Have you seen my other project, [griffin](https://github.com/spotify/griffin)? It takes RAML files and spits out HTML for some static documentation generation.  It's *super* alpha, and it's based on an outdated version of `ramlfications`, but as soon as I finish the [0.2.0](https://github.com/spotify/ramlfications/wiki/RAMLfications-v0.2.0-Release) release, I hope to pick up develop

[2016-02-06 17:40] #84 closed

[2016-02-06 17:51] bkabrda commented on #84
Thanks for the info, I'll check out griffin!

[2016-02-09 03:29] bpowell65536 opened #85 "Only the first method of a resource defined in an external file is detected"
I'm trying to define a resource type in an external RAML file, but when ramlfications parses it, only the first of several access methods (get/post/patch/etc.) are detected. A minimal set of RAML files illustrating the problem are attached (GitHub doesn't support uploading .raml files, so the extensions need to be changed).

[externalResource.raml.txt](https://github.com/spotify/ramlfications/file

[2016-02-11 20:37] bpowell65536 commented on #85
I have developed a test case and a fix for this issue based on the RAML files included in the issue description in the 0.2.0-dev branch (the problem exists in 0.2.0-dev as well as 0.1.9), but unfortunately the fix has broken the ``tests/test_parser.py::test_resource_inherits_type`` test case, and I don't understand enough of how the parsing works to fix what I've broken. Would someone who knows mo

[2016-02-11 20:40] econchick commented on #85
@bpowell65536 hey sorry I didn't originally respond. You don't have to make a PR, but it'd be great if you could push it to a branch on _your_ fork, then I can take a look at it.

[2016-02-11 20:56] bpowell65536 commented on #85
@econchick Thanks for your response :). I have pushed my changes to the v0.2.0-dev branch on my fork of ramlfications, which is here: https://github.com/bpowell65536/ramlfications/tree/v0.2.0-dev/ramlfications . The changed implementation file is ``ramlfications/parser/main.py``, the associated tests are in ``tests/test_parser.py`` and the test data files are ``tests/data/examples/external_resourc

[2016-02-14 22:57] bpowell65536 commented on #85
I think I have fixed the problem. I have run tox on my version of the code and all the tests are passing on Python 2.6.9, 2.7.6, 3.3.6, 3.4.3 and pypy 2.2.1, except ``tests/test_tree.py:test_print_tree_light_v``, ``tests/test_tree.py:test_print_tree_light_vv``, and ``tests/test_tree.py:test_print_tree_light_vvv``, which were marked as skipped in the original checkout of the code. I can make a pull

[2016-02-15 17:32] econchick commented on #85
Sure, feel free to make a PR.

[2016-02-15 18:46] bpowell65536 commented on #85
OK, done. PR is here: https://github.com/spotify/ramlfications/pull/88

[2016-02-16 00:34] bpowell65536 commented on #85
@econchick I have made a new PR with all the previous commits (including changes in response to comments on this PR) squashed into one: #91. There is an extra commit because my change broke some of the CI tests - I can try to squash this into the same commit as well if you like.

[2016-02-22 12:47] postatum commented on #79
Had this issue as well.

[2016-02-22 12:51] postatum commented on #71
Hi @econchick.
Will addition of RAML v1.0 support break anything for RAML v0.8? (except for `resource_type.optional`).

[2016-02-22 14:37] postatum commented on #85
Thanks a lot for your PR @bpowell65536. I'm having the same issue. Originally described it here https://github.com/spotify/ramlfications/issues/23#issuecomment-153009690

[2016-02-25 04:39] econchick commented on #71
Hey @postatum - I don't believe so, no. Not to the API of the library (besides optional). Mostly additions. Some to fix 0.8, most for 1.0 features.

However there was an introduction of a different repr of the RAML object; not sure if one would consider that a breaking change?

[2016-02-25 18:37] bpowell65536 commented on #85
@postatum No worries! Hope it helps!

[2016-03-03 00:49] bpowell65536 commented on #85
@econchick This issue didn't really go through the normal process, but since it is fixed now, did you want me to close it?

[2016-03-03 00:50] econchick commented on #85
sure, thanks!

[2016-03-03 00:50] #85 closed

[2016-03-09 01:21] bpowell65536 commented on #2
@econchick Sorry to resurrect this, but I think I have found a case where the substitution of parameters doesn't work - given the following RAML:

    #%RAML 0.8
    title: Parameterised Resource Test
    version: v1
    baseUri: http://localhost:8080
    resourceTypes:
      - collection-custom-variable:
          get:
            description: Get all the <<resourceType|!pluralize>>
          put

[2016-03-09 04:00] bpowell65536 commented on #2
@econchick After a bit more thought, I have made a better fix for this issue using ``ramlfications.utils.common.substitute_parameters``. This fix handles parameter transforms and passes all the existing test cases, including correctly parsing the example in the previous post. I can post a pull request now if you like.

[2016-03-23 16:15] j-funk commented on #54
@econchick ooc is this still a priority?  I saw the wiki link above was empty.

[2016-03-26 14:00] econchick commented on #54
hey @j-funk ! It's still a priority, but development has stalled because I moved to NYC a couple of weeks ago for a new job (same company). So I've been distracted with getting settled in. I guess this is part of the problem, when there's only one main developer :-! But I'm spending some time this weekend to get back up to speed.

[2016-03-26 23:57] buhman opened #100 "named object access in object collections"
In raml that looks like this:

[code]

When traversing that resource in the raw raml, a response type could be accessed like this:

[code]

In the representation in ramlfications, equivalent access would look like this:

[code]

This also applies to pretty much anything, including `RootNode.resources`.

What do you think about changing the pattern to something like:

[code]

[2016-04-17 17:35] alvassin opened #101 "RAML 0.8: optional resourceTypes methods support"
Following code with raise error `InvalidParameterError: Response code '200?' must be an integer representing an HTTP code.`:

[code]

Also, if i would have both optional & required responses codes, i will get following error:
[code]

Optional resource response codes are officially supported in [RAML 0.8 as described](https://github.com/raml-org/raml-spec/blob/master/raml-0.8.md):

Could you please

[2016-04-17 17:40] econchick commented on #101
Hey @alvassin ! Good catch, yes - this issue is already filed in #43 and is in the backlog for the [0.2.0 release](https://github.com/spotify/ramlfications/wiki/RAMLfications-v0.2.0-Release). I'm going to go ahead and close as a duplicate, but let me know if anything else comes up!

Cheers!

[2016-04-17 17:40] #101 closed

[2016-04-25 22:57] mcm commented on #54
@econchick Has any work started on RAML 1.0? I'm working with another developer on laying the foundations for all of our internal API's going forward, and I think it would make more sense to add RAML 1.0 support to ramlfications than to write our own separate library. Just want to make sure I start in the right place if any work has begun.

[2016-05-05 16:48] jamespharaoh commented on #54
i also need this and will be looking to implement it myself, if necessary, so please anyone share what you have. initially i need to be able to load raml and create documentation from it.

[2016-05-05 17:01] econchick commented on #54
@jamespharaoh take a look at the other library I've released, [griffin](https://github.com/spotify/griffin). It creates HTML/static docs from RAML files.

[2016-05-05 17:03] econchick commented on #54
@mcm the v0.2.0-dev branch is the current progress of RAML1.0 support. It's started, but it's slow. I'd hate for you to write something separately. I'd love for any help, which is outlined on [the wiki](https://github.com/spotify/ramlfications/wiki/RAMLfications-v0.2.0-Release)

Feel free to hop into the #ramlfications slack channel at slackin.spotify.com, or on IRC, if you want to chat.

[2016-05-13 15:27] j-funk commented on #54
@econchick you might want to update the earlier link to the empty wiki at the top of this thread as well :)

[2016-05-23 21:59] econchick commented on #54
@j-funk thanks! I just did

[2016-06-02 09:06] triStone opened #103 "Bugs while parsing trait."
I have a trait file like below.

[code]

RAMLfications can not parse this raml file correctly. I've track the code in `parser.py` and `validata.py`. And think these code in `parser.py:371` should be changed to

[code]

And the code in `validate.py:189` should be changed to

[code]

BTW: My Python version is 3.5, and I haven't check if this bug existed in Python2

[2016-06-06 13:10] econchick commented on #103
Hey @triStone - thanks so much for your bug report! I just got back from traveling, so I'm going to look into your issue this week.  Real quick, could you tell me if this issue comes from version 0.1.9 (latest on PyPI)? or from the `v0.2.0-dev` branch?

[2016-06-06 14:24] pokidovea commented on #14
What is the status of this issue?

[2016-06-07 15:31] derrickburns opened #104 "loader does not support reading file from url"
We should be able to load a raml file from a URL, and not just a file.  Note that this changes the way in which includes are processed.

[2016-06-07 16:41] econchick commented on #104
@derrickburns just clarifying, are you wanting to load a main RAML file from URL (e.g. `ramlfications.parse("https://api.example.com")` or `ramlfications.load("https://api.example.com")`)? or are you wanting to load a local RAML file, that has an `!include` pointing to a URL?

The latter, I agree, should be supported (and I think is for remote JSON files IIRC).

[2016-06-07 17:14] derrickburns commented on #104
The former. In that case, the loader must treat includes as references to URLs

Derrick

On Jun 7, 2016, 9:41 AM -0700, Lynn Root<notifications@github.com>, wrote:

[2016-06-07 17:15] derrickburns commented on #104
Include pointing to a URL is not in the raml spec if the raml is local

Derrick

On Jun 7, 2016, 9:41 AM -0700, Lynn Root<notifications@github.com>, wrote:

[2016-06-07 19:31] econchick commented on #104
@derrickburns hmm so, this isn't actually a requirement in the spec - I don't see it in 0.8 or 1.0 (please correct me if I'm wrong). I'm also hesitant to actually add this feature, as it seems a bit insecure.

Looking at the `json` library in the stdlib in Python, loading remote JSON files do not seem to be supported. And it seems that the `pyyaml` package doesn't either (not without implementing

[2016-06-07 19:44] econchick commented on #14
@pokidovea hmm yeah - [0.2.0](https://github.com/spotify/ramlfications/milestones/0.2.0%20Release) development is a bit slow. How much of a blocker is this particular issue for you?

[2016-06-08 00:44] derrickburns commented on #104
Here is the key paragraph from the 0.8 spec:

"If a relative path is used for the included file, the path is interpreted
relative to the location of the original (including) file. If the original
file is fetched as an HTTP resource, the included file SHOULD be fetched over
HTTP."

https://github.com/raml-org/raml-
spec/blob/master/versions/raml-08/raml-08.md#includes

Sent from [Nylas N1](https://

[2016-06-08 00:46] derrickburns commented on #104
I understand and agree with the priorities.  However, it means that one cannot
parse a RAML file that is served from a web server.  Copying the file is
insufficient, because the include links would all be broken.  Thus, it is not
possible to write a service that checks for compliance with a remotely served
raml file without also downloading all the files separately.

Sent from [Nylas N1](https://n

[2016-06-08 00:48] derrickburns commented on #104
A simple option is to provide a hook for processing "!include" directives....

Sent from [Nylas N1](https://nylas.com/n1?ref=n1), the extensible, open source
mail client.

On Jun 7 2016, at 5:46 pm, Derrick Burns &lt;derrickrburns@gmail.com&gt;
wrote:

cannot parse a RAML file that is served from a web server.  Copying the file
is insufficient, because the include links would all be broken.  Thus,

[2016-06-08 00:49] econchick commented on #104
Ah okay good catch, thanks for correcting me. I'll re-prioritize this for the 0.2.0 release.

[2016-06-08 00:50] derrickburns commented on #104
Would you like a PR from me for such a "hook"?

Sent from [Nylas N1](https://nylas.com/n1?ref=n1), the extensible, open source
mail client.

On Jun 7 2016, at 5:49 pm, Lynn Root &lt;notifications@github.com&gt; wrote:

the 0.2.0 release.

You are receiving this because you were mentioned.
Reply to this email directly, [view it on GitHub](https://github.com/spotify/r
amlfications/issues/104#issueco

[2016-06-08 00:52] econchick commented on #104
I would gladly accept any PRs! Be sure to branch off of the v0.2.0-dev branch.

[2016-06-08 00:53] derrickburns commented on #104
Thx. I'll have a look to see what I can do.

[2016-06-08 11:34] pokidovea commented on #14
Unfortunately, it prevents me from using this lib. I have to use JS analogue.

[2016-06-08 11:36] econchick commented on #14
@pokidovea ah well, we don't want that! 😄  I'll try to get some time this week/weekend to address this.

[2016-06-09 05:30] triStone commented on #103
version 0.1.9

[2016-06-09 13:50] econchick commented on #103
@triStone thanks!

[2016-06-16 07:52] sichvoge commented on #69
Hi  @econchick & @tardyp, not sure what the progress is but the links to the different sections inside the spec are out of date. I also like to offer you as much help as possible from our experts as needed. Let me know.

[2016-06-16 09:27] tardyp commented on #69
Hi Christian,
Both myself and @econchick had a very busy second quarter, so this is why this is not progressing as we would like. For my side, I am still very interrested in raml potencial for python webapps, and willing not make it move forward as time allows.

[2016-06-16 14:30] econchick commented on #69
@sichvoge hey Christian!

You're right that the links are outdated - but (FYI @tardyp 😄 ) I have been working on it! and current progress can be seen in the `v.0.2.0-dev` branch (although I have yet to push latest commits from the past couple of days which really work on this particular ticket).

I've updated this issue with appropriate links (and I will do that for the other issues at some point)

[2016-06-22 15:49] sichvoge commented on #54
@econchick is there any specific timeline you can share for the RAML 1.0 support?

[2016-06-22 17:19] econchick commented on #54
Hey @sichvoge - I wish I could; it's pretty much down to just [unpaid] work on the weekends for me so it's pretty slow, and there have not been any recent contributions from others to help. I understand there's a lot of interest to get support for 1.0.  Perhaps I should run a kickstarter or something to help give motivation and negate the issue of work going unpaid (sorta kidding 😉 ).

[2016-06-22 18:52] sichvoge commented on #54
HAHA :D Let me know if you need more advertisement. I am planning to add an article to the "Sneak Peek" section in the RAML forums and consolidate infos about the current tools that are in dev. Maybe there is a good chance to ask for help ;)

[2016-07-14 09:16] nresare opened #108 "tox bug fails testing on python 3.5.2: ERROR: unknown environment 'py35'"
Attempted to run `tox` on the current master of ramlfications (https://github.com/spotify/ramlfications/commit/59ac38977cd45b6bdacde51a5fe12d602ddf1e1f) on a completely vanilla macos machine and it fails with the somewhat cryptic `ERROR: unknown environment 'py35'`

Steps to reproduce:
1. start with a completely vanilla macos `10.11.5`
2. install xcode command line tools with `xcode-select --insta

[2016-07-18 09:48] econchick commented on #108
Addressed with #110. Let me know if there are future issues. Thanks!

[2016-07-18 09:48] #108 closed

[2016-07-30 23:38] pankajghosh opened #111 "Any plans to support Windows?"
Hi - Are there any future plans to support Windows platform?

[2016-07-31 08:40] econchick commented on #111
Hi @pankajghosh! Not particularly, although I also don't know what breaks on Windows. I also don't have easy access to a Windows VM. I welcome contributions of such, even if it is just letting me know what needs to be addressed.

I'll leave this issue open to see if there is more interest in support for Windows. My apologies, and thank you!

[2016-08-01 15:33] pankajghosh commented on #111
Hi @econchick - The project makes some implicit assumptions related to absolute/relative paths which error on Windows. This issue manifests itself mainly in JSON references($ref) not working - both absolute and relative.

Good news is that current unit test coverage seems to catch all these issues(they do fail on Windows server) and I can probably submit a fix for this.
If I submit a PR for these

[2016-08-02 14:43] dethbird commented on #69
I just forked, are the issues you have listed for this repo the only issues to tackle in order to accomplish the upgrade to 1.0?

[2016-08-02 14:55] sichvoge commented on #69
I think @econchick and maybe you should review the todos in this issue, and maybe others with the current spec version.

[2016-08-16 14:58] jenner commented on #103
ftr: I cannot reproduce this:
`api.raml:`
[code]

`test.py:`
[code]

Works just fine. Am I missing something?

[2016-08-17 07:28] triStone commented on #103
Sorry, I haven't use this for a while, and cannot reproduce this bug now.
Thank you for your kindly response.

[2016-08-29 08:34] johnlinp opened #112 "Find resource by method and path"
When I want to find resource by method and path, I use this function:

    def get_resource(resources, method, path):
        for resource in resources:
            if resource.method is None or resource.path is None:
                continue
            if resource.method.lower() == method.lower() and resource.path == path:
                return resource
        return None

Is there any built-i

[2016-08-29 12:28] econchick commented on #112
hey @johnlinp! Unfortunately, not; your filter method seems like the best approach at the moment.  I'll keep this issue open to consider putting a feature in for a `0.2.x` release.

[2016-08-29 12:48] econchick commented on #111
Hey @pankajghosh ! I'm so so sorry I didn't get back to you earlier! I would definitely accept a PR for this!

If you have limited time, then be sure to branch off of the `0.2.0-dev` branch (not master) so we can get it into the latest release.  If you have a bit more time, then a 2nd PR would be great based off of master (a little confusing, but master is latest release on PyPI).

[2016-09-16 18:31] freddrake opened #113 "RAML 1.0: securitySchemes is a map, not a list"
This was a change with 1.0.

[2016-09-16 19:32] freddrake commented on #113
Fixed by PR 114.

[2016-09-16 19:32] #113 closed

[2016-09-17 15:41] freddrake opened #115 "RAML 1.0: repeat for parameters is gone"
The ``repeat`` aspect for a named parameter is no longer a thing; headers and query parameters can be arrays to indicate acceptance of multiple values.

This will impact ``BaseParameterParser`` in ``ramlfications.parser.parameters``, at least.

[2016-09-19 12:49] sichvoge commented on #54
Not sure if you are aware but you can try out the following [World Music Example](https://github.com/raml-org/raml-examples/blob/master/others/world-music-api/api.raml) to test what works and what isn't working yet.

The example contains 90% of all features excluding overlays and extensions.

[2016-09-19 16:23] econchick commented on #54
@sichvoge this is amazing, thank you! I'd love any other full examples like this, if you come across them/publish.

[2016-09-20 12:20] sichvoge commented on #54
you see all i have in the same repo ;)

[2016-10-19 05:22] bensonrodney opened #118 "validation fails if securityScheme doesn't contain 'settings'"
validation fails if a securityScheme doesn't contain 'settings' but the spec defines it as optional.

[(https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md#settings)]

[2016-11-20 14:49] simevo opened #119 "why markdown2 rather than markdown"
Hi, I'm in the process of packaging this library for Debian (see https://bugs.debian.org/843882).

I noticed that ramlfications depends on `markdown2` (https://pypi.python.org/pypi/markdown2, https://github.com/trentm/python-markdown2) rather than `markdown` (https://pypi.python.org/pypi/Markdown, https://github.com/waylan/Python-Markdown).
It turns out that only the latter is packaged in Debian (

[2016-11-21 21:02] lwcolton opened #121 "Builds for py2.6 failing because 'attrs' package only supports 2.7+"

[2017-01-02 04:03] johnlinp opened #122 "queryParameters and formParameters formats are inconsistent"
In the following RAML:

[code]

I was excepting that `query_params` and `form_params` are in the same format since they are in similar structure. However, `query_params` is a `list` of `QueryParameter`, while `form_params` is a `OrderedDict` with parameter names as the keys.

Is there any change to make them consistent?

[2017-01-10 11:50] ptxmac opened #123 "baseUri should not be required"
According to the RAML spec (https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#base-uri-and-base-uri-parameters) the `baseUri` key is optional, but `ramlfications validate` fails if it is missing

[2017-01-12 11:45] ptxmac commented on #54
Any update on this?

[2017-02-03 21:03] jisoohan commented on #123
+1

[2017-02-09 04:59] simevo commented on #119
Bump ?

[2017-02-23 22:18] RochesterinNYC commented on #118
Validation is failing for me on all the `.raml` setups I'm trying to validate that include `securitySchemes`.

Example `.raml` from [raml-spec docs](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#security-schemes):

[code]

Fails with the following error:

[code]

[2017-03-04 09:45] patelgunjan007 opened #124 "referance path of external file JSON in side schemas JSON file pasring problem"
RAML FILE:
------------------------------------------------------------------------------
schemas:
#%RAML 0.8
title: Temperature
version: v1.1.0-20160519
baseUri: http://localhost:80/
schemas:
  - json: !include oic.r.temperature.json

-------------------------------------------------------------------------------------
temperature.json FILE:
-------------------------------------------------------

[2017-03-04 09:59] vipulverma5 opened #125 "jsonref error while loading nested json schemas"
https://ramlfications.readthedocs.io/en/latest/extendedusage.html#localfile

Using the example given in above link, I am trying to get the multiple json schemas parsed and subsequently print them to stdout. However, it is throwing the following error :-

[{'json': {u'$schema': u'http://json-schema.org/draft-03/schema', u'type': u'object', u'properties': {u'album_type': {u'type': u'string', u'descr

[2017-03-04 11:31] #125 closed

[2017-03-15 22:10] jstoiko commented on #123
`ramlfications` does not support RAML 1.0 yet. RAML 0.8 specs say that `baseUri` is [required after implementation](https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md#base-uri-and-baseuriparameters).

[2017-03-16 11:08] ptxmac commented on #123
Good point!

But that does mean ramlfications is targeting implemented API's, and not to develop new ones.
Since this is a "Reference implementation", it would be nice to have it support for both.

[2017-03-16 19:50] jstoiko commented on #123
Even better point!

There should be some sort of flag or option to set the level of strictness.

[2017-03-22 18:26] suyog-sathe commented on #115
Is there any solution for this?

[2017-04-16 13:12] econchick opened #126 "Test issue"
just seeing if this also creates an issue in github

[2017-04-16 13:13] econchick commented on #126
Issue created by waffle.io.

[2017-04-16 13:13] #126 closed

[2017-04-16 13:15] econchick opened #127 "Add support for Extensions"
RAML 1.0 adds Extensions ([docs](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#extensions)).

[2017-04-16 13:16] econchick opened #128 "Add support for Overlays"
RAML 1.0 adds [Overlays](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays)

[2017-04-16 13:18] econchick opened #129 "Add (more) support for Security Schemes"
RAML 1.0 [docs](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#security-schemes).

Note: in RAML 0.8, `securitySchemes` is a list. In RAML 1.0, `securitySchemes` is a map

[2017-04-16 13:20] econchick opened #130 "Algorithm of Merging Traits & Methods"
RAML 1.0 now explicitly [documents](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#algorithm-of-merging-traits-and-methods) the approach when applying a trait to methods. I've just skimmed, but we should make sure this algo is reflected in how we parse.

[2017-04-16 13:22] econchick opened #131 "Support optionality for all the things"
In RAML 0.8, only methods w/i resource types were optional, denoted with a question mark (e.g. `get?`.

In RAML 1.0, a *lot* more can be optional. We should figure out a sane approach to parsing and reflecting how a named attribute is optional.

[2017-04-16 13:24] econchick opened #132 "Support for Example/Examples"
RAML 1.0 now has [support](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#defining-examples-in-raml) for both single and multiple examples (0.8 just supported single). Work has already been done - but I can't remember if it's complete.

[2017-04-16 13:27] econchick opened #133 "Add support for typed fragments."
RAML 1.0 introduces [fragment identifiers](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#typed-fragments) that go in the header/first line of RAML files, e.g. `#%RAML 1.0 ResourceType`. These are (mostly? entirely?) used for `!include` files, and are optional.

[2017-04-16 13:29] econchick opened #134 "Make sure/assert use of YAML 1.2 parsing"
RAML 1.0 [explicitly states](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#markup-language) that YAML 1.2 is the underlying format. I'd like to check to see if the `loader` module can assert v1.2.

[2017-04-16 13:38] econchick opened #135 "Parse function should be able to parse string of raml"
Like in pyyaml's `yaml.loads`, `ramlfication.parse` should be able to take a string of raml format, e.g.

[code]

There's a preference to not need a separate function (e.g. `yaml.load` vs `yaml.loads`), but if it's the only way, that's fine.

[PR 120](https://github.com/spotify/ramlfications/pull/120/files) attempts to address this, but I don't like how it designates a file vs a string by the pres

[2017-04-16 13:39] econchick opened #136 "Add support for py3.6"
I don't think much more is needed other than updating tox.ini and .travis.yml files.

[2017-04-16 13:40] econchick opened #137 "Drop support for py2.6 and py3.3."
It's about time. It should just require removing py2.6 and 3.3 environments from .travis.yml and tox.ini files.

Related: [Issue 121](https://github.com/spotify/ramlfications/issues/121)

[2017-04-16 13:51] econchick opened #138 "Update attrs lib and investigate use of features"
Since the introduction of [attrs](https://attrs.readthedocs.io) to ramlfications, there have been some interesting and potentially useful features added (and some features that have always been there that could potentially help out)

- `convert` and/or factories w/i `default` - potentially useful to parse attribute data upon object instantiation (and before instance validation)
- frozen - perhaps

[2017-04-16 14:18] econchick opened #139 "Try to update dependencies"
Let's try to update each dep in reqs.txt, dev-reqs.txt, and tox-reqs.txt. We should run tests against each update to confirm shit works.

[2017-04-16 14:22] econchick opened #140 "Left over artifacts w/ self.node"

[2017-04-16 15:21] econchick commented on #140
PR: https://github.com/spotify/ramlfications/pull/141

[2017-04-16 15:28] caipre commented on #132
Looks like the PR was made on @econchick's fork.

https://github.com/econchick/ramlfications/commits/fd-data-type-examples

[2017-04-16 15:32] #140 closed

[2017-04-16 15:43] econchick commented on #136
PR: https://github.com/spotify/ramlfications/pull/142

[2017-04-16 15:43] econchick commented on #137
PR: https://github.com/spotify/ramlfications/pull/142

[2017-04-16 15:55] #136 closed

[2017-04-16 15:55] #137 closed

[2017-04-17 13:43] freddrake commented on #135
My preference would be separate functions.  The caller should know what they have; a YAML syntax error on what was expected to be a path is likely to confuse an end user.

[2017-05-24 18:29] freddrake commented on #132
PR #143 has been landed.

[2017-05-30 19:07] sichvoge commented on #133
Hi. Fragments are indeed mostly used with `!include`. The only exceptions obviously are:

* Libraries (libraries are being referenced, not included)
* Overlays
* Extensions

You can include them via `!include`, but that would never really have a meaning and is invalid. But nothing should stop you to do it since it's just nature how `!include` works in general. Append all nodes from a file into thi

[2017-05-30 19:09] sichvoge commented on #131
I don't think that this is true. The spec states

[2017-05-30 19:13] econchick commented on #131
@sichvoge Under the [General headline](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#general), it says:

There's also *many* examples of non-methods having trailing question marks. For instance, in [the table listing nodes](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#the-root-of-the-document) for the Root of a RAML file.

[2017-05-30 19:14] econchick commented on #133
@sichvoge that makes total sense, thank you!

[2017-05-31 18:37] mike-sierra opened #148 "better handling of ISO 8601"
If you specify a URI/query parameter with an ISO 8601 timestamp...
example: 2016-07-01T00:00:00Z
...it gets converted to tis format when you call the example value:
"2016-07-02 00:00:00"
Only by quoting it does it stay preserved literally:
example: "2016-07-01T00:00:00Z"

[2017-06-01 05:54] sichvoge commented on #131
OH, maybe it's a bit confusing first; but that general headline only talks about optional nodes in RAML. That means, when we say

It really mean, whenever you see (inside the specification document) a node with a question mark; it is an optional node. For example:

[code]

[code]

Both examples are valid, since `description` is an optional node. On the other hand, `title` is a required node and le

[2017-07-11 09:18] EpocDotFr commented on #54
Looks like this repo is being abandonned.

[2017-07-11 09:24] econchick commented on #54
@EpocDotFr it has not - I've been slowly working on 1.0 support in the dev branch, with a sprint held at PyCon this year. There's been a lot of conference travel, but late July & August, development should pick back up.

[2017-07-11 09:35] EpocDotFr commented on #54
@econchick My bad. I didn't check the dev branch.

[2018-03-29 13:41] alvassin opened #154 "Properties should be required by default for RAML 1.0"
According to https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#property-declarations, properties should be required by default.

However, in v0.2.0-dev brach they are marked as not required

[2018-07-06 13:52] roosemberth commented on #103
I have been able to reproduce:

[code]

[code]

`ramlfications 0.1.9` installed from pip

[2018-07-09 12:39] econchick commented on #103
@roosemberth `ramlfications` does not support RAML 1.0. But you might want to try making `traits` a list of dictionaries rather than just a dictionary itself, e.g.

[code]

[2018-07-09 12:39] #103 closed

[2019-04-03 06:08] sayali-kotkar opened #157 "Validation fails if hyphen is not used for list"
As per raml documentation, its nowhere mentioned that hyphen is required for list. But library fails the validation if hyphen is not used.

[2019-08-13 14:06] ikreb7 opened #159 "Status?"
Hello, what is the status of this project?

[2019-09-10 13:09] AlexandreProenca commented on #159
I guess it was abandoned
![Screen Shot 2019-09-10 at 10 07 59](https://user-images.githubusercontent.com/2229747/64616465-0354b300-d3b3-11e9-8cec-6f65a17e3ca7.png)

[2019-09-10 13:25] freddrake commented on #159
@econchick mentioned she was having a difficult time finding time for this at PyCon this year; if you're interested in helping maintain the project, it might be good to drop her a line directly.

[2019-10-18 05:06] acs commented on #54
Th development seems to be stalled for 2 years now. @econchick do you know of any alternative to work with RAML 1.0 in Python?

Cheers!

[2020-12-01 12:53] eduardo-rubio commented on #54
Hi @econchick Could you please give us an update about the RAML 1.0 support? BTW, have you seen this repo https://github.com/raml-org/webapi-parser? Maybe it could help you to speed up your development. Regards!

[2020-12-01 13:09] econchick opened #162 "Maintainer(s) wanted"
I haven't been able to give this project/repo the attention it deserves. I no longer work in the domain that RAML + `ramlfications` is used in, so my motivation isn't that well aligned. I'd be happy to add interested folks as maintainers, and give any intro/walk through to the repo setup and such to get folks started. There's a lot that can be done (address outstanding issues & pull requests, secu

[2020-12-01 13:10] econchick commented on #159
Please see #162

[2020-12-01 13:10] #159 closed

[2020-12-01 13:10] econchick commented on #54
hey @eduardo-rubio et al - I am not able to give this project the attention it deserves. I've opened up a new issue soliciting for maintainers: #162

[2020-12-03 20:57] jdiegodcp commented on #162
I'm interested in help to work in this project.

[2021-11-18 02:51] narayanaa commented on #162
Any update on RAML 1.0 support? @jdiegodcp -- did you get to work further on this? I am planning to use this on one of our initiatives.